body{
    background-color: #344164;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: grid;
    place-items: center;
}
.cv{
    background-color: #9aa6cc;
    border-radius: 10px;
    border-style: solid;
    border-color: #16203f;
    padding: 20px;
    max-width: 800px;
}
.cv-header{
    text-align: center;
    margin-bottom: 20px;
}
.info{
    display: flex;
    gap: 10px;
}
.profile-photo{
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 50%;
    border-style: solid;
    border-color: #16203f;
    object-fit: cover;
}
.information_1{
    background-color: #d4dbed;
    border-style: solid;
    border-color: #16203f;
    border-radius: 10px;
    padding: 10px;
}
.information_2{
    background-color: #d4dbed;
    border-style: solid;
    border-color: #16203f;
    border-radius: 10px;
    padding: 10px;
}
.profile{
    display: flex;
    gap: 5px;
}
.profile-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
}